@import"https://fonts.googleapis.com/css2?family=Ubuntu&display=swap";@import"https://fonts.googleapis.com/css2?family=VT323&display=swap";
#markdown a{
    color:rgb(0, 255, 153);
    font-weight: bold;
}

#markdown img{
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: 100%;
}

#markdown .line{
    background-color: rgb(50, 50, 70);
    height: 4px;
    opacity: .2;
    border-radius: 10px;
}

#markdown.list-item{
    color:#d1d3dc
}
#markdown.list-num{
    color: #d1d3dc88;
}
#markdown.list-dot{
    color: #d1d3dc88;
    font-size: 20px;
}
#markdown.list-dot::before{
    content: "> ";
}
#markdown.list-dot.level1::before{
    content: "> ";
}
#markdown.quote{
    border-left: 3px rgb(50, 50, 70) solid;
    padding-left: 3px;
    font-weight: bold;
}
#markdown.task{
    display: inline-block;
    border: 2px #d1d3dc solid;
    border-radius: 100%;
    padding-left: 3px;
    font-weight: bold;
    width: fit-content;
    width: -moz-fit-content;
    position: relative;
}
#markdown.task::before{
    content: "//.";
    white-space: pre-wrap;
    color: transparent;
}
#markdown.task >.inner{
    margin: 0 auto;
    position: absolute;
    left: 10%;
    top: 10%;
    text-align: center;
    width: 100%;
    height: 100%;
}
#markdown.task.checked >.inner{
    margin: 0px;
    content: "";
    background-color: white;
    border-radius: 100%;
    width: 80%;
    height: 80%;
}

#markdown.code-block{
    box-shadow: 0px 0px 20px #0002;
    color:#d1d3dc;
    font-family: monospace;
    margin: 20px 0 20px 0;
    border-radius: 7px;
    overflow-x: auto;
}

#markdown.code-block .language{
    display: none;
    padding: 7px;
    font-size: 10px;
    background: #343541;
    text-transform: lowercase;
}
#markdown.code-block .code{
    padding: 7px;
    background-color:rgb(50, 50, 70);
}
#markdown.inline-code{
    color:#fff;
    background-color: rgb(50, 50, 70);
    padding: 5px;
    border-radius: 10px;
    font-family: monospace;
    overflow-x: auto;
}

#markdown.table{
    display: flex;
    width: fit-content;
    border-radius: 6px;
    /* border: white 1px solid; */
    overflow: hidden;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: rgb(50, 50, 70);;
}
#markdown.table .cel{
    padding: 5px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    text-align: center;
    color:#d1d3dc;
    border-bottom: rgba(34, 34, 54,.3) 2px solid;
}
#markdown.table .cel.left{
    border-left: none;
}
#markdown.table .cel.bottom{
    border-bottom: none;
}
#markdown.table .cel.top{
    border-bottom: none;
}
#markdown.table .cel.header{
    background-color: rgba(0,0,0,.1);
    color:white;
    height: 100%;
    padding-inline: 10px;
    /* font-weight: bold; */
}

#markdown.background{
    margin: 0;
    padding: 20px;
    background-color: rgb(34, 34, 54);
    color:#d1d3dc;
    font-family:"Ubuntu", monospace;
}