@font-face {
    font-display: swap;
    font-family: Signifier;
    font-style: normal;
    font-weight: 400;
    src: url(https://cdn.openai.com/common/fonts/signifier/signifier-light.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: Signifier;
    font-style: italic;
    font-weight: 400;
    src: url(https://cdn.openai.com/common/fonts/signifier/signifier-light-italic.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: Signifier;
    font-style: normal;
    font-weight: 700;
    src: url(https://cdn.openai.com/common/fonts/signifier/signifier-bold.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: Signifier;
    font-style: italic;
    font-weight: 700;
    src: url(https://cdn.openai.com/common/fonts/signifier/signifier-bold-italic.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: Söhne;
    font-style: normal;
    font-weight: 400;
    src: url(https://cdn.openai.com/common/fonts/soehne/soehne-buch.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: Söhne;
    font-style: italic;
    font-weight: 400;
    src: url(https://cdn.openai.com/common/fonts/soehne/soehne-buch-kursiv.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: Söhne;
    font-style: normal;
    font-weight: 500;
    src: url(https://cdn.openai.com/common/fonts/soehne/soehne-kraftig.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: Söhne;
    font-style: italic;
    font-weight: 500;
    src: url(https://cdn.openai.com/common/fonts/soehne/soehne-kraftig-kursiv.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: Söhne;
    font-style: normal;
    font-weight: 600;
    src: url(https://cdn.openai.com/common/fonts/soehne/soehne-halbfett.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: Söhne;
    font-style: italic;
    font-weight: 600;
    src: url(https://cdn.openai.com/common/fonts/soehne/soehne-halbfett-kursiv.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: Söhne Mono;
    font-style: normal;
    font-weight: 400;
    src: url(https://cdn.openai.com/common/fonts/soehne/soehne-mono-buch.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: Söhne Mono;
    font-style: normal;
    font-weight: 700;
    src: url(https://cdn.openai.com/common/fonts/soehne/soehne-mono-halbfett.woff2) format("woff2")
}

@font-face {
    font-display: swap;
    font-family: Söhne Mono;
    font-style: italic;
    font-weight: 400;
    src: url(https://cdn.openai.com/common/fonts/soehne/soehne-mono-buch-kursiv.woff2) format("woff2")
}
/* ---------------- BACKGROUND ------------------ */
.markdown.background {
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 20px;
    background-color: rgb(68, 70, 84);
    color: #d1d3dc;
    font-family: Söhne, ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, Helvetica Neue, Arial, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

/* ---------------- HEADERS => all lines that starts with # ------------------ */
.markdown .header1 {
    /* # text */
    font-weight: normal;
    font-size: auto;
}

.markdown .header2 {
    /* ## text */
    font-weight: normal;
    font-size: auto;
}

.markdown .header3 {
    /* ### text */
    font-weight: normal;
    font-size: auto;
}

.markdown .header4 {
    /* #### text */
    font-weight: normal;
    font-size: auto;
}

.markdown .header5 {
    /* #### text */
    font-weight: normal;
    font-size: auto;
}

.markdown .header6 {
    /* #### text */
    font-weight: normal;
    font-size: auto;
}


/* ---------------- BOLD => ** example ** ------------------ */
.markdown .bold {
    /* if you not want the default bold uncomment this:*/
    /* font-weight: initial !important; */
}


/* ---------------- ITALIC => * example * or _example_ ------------------ */
.markdown .italic {
    /* if you not want the default italic uncomment this:*/
    /* font-style: initial!important; */
}


/* ---------------- SCRATCHED => ~~ example ~~ ------------------ */
.markdown .italic {
    /* if you not want the default italic uncomment this:*/
    /* font-style: initial!important; */
}


/* ---------------- IMAGE => ![alt](http://example.com/img.png) ------------------ */
.markdown img {
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: 100%;
}


/* ---------------- LINE => --- ------------------ */
.markdown .line {
    background-color: #000;
    height: 4px;
    opacity: .2;
    border-radius: 10px;
    margin-top: 20px;
}


/* ---------------- LIST => .1 example ------------------ */
.markdown.list-item {
    color: #d1d3dc
}
.markdown.list-item .num.left::before {
    content: "";
}
.markdown.list-item .num {
    color: #d1d3dc88;
}
.markdown.list-item .num.right::before {
    content: ".";
}


/* ---------------- LIST => applied to all list syntax ------------------ */
.markdown.list-item .pad {
    font-size: 10px;
}

/* ---------------- LIST => * or - example text ------------------ */
.markdown.list-dot {
    color: #d1d3dc88;
    font-size: 20px;
}

.markdown.list-dot::before {
    content: "• ";
}

.markdown.list-dot.level1::before {
    content: "◦ ";
}


/* ---------------- QUOTE BLOCK => > a good example! ------------------ */
.markdown.quote {
    border-left: 3px #d1d3dc solid;
    padding-left: 3px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}


/* ---------------- TASK => [x] ------------------ */
.markdown.task {
    display: inline-block;
    border: 2px #d1d3dc solid;
    padding-left: 3px;
    font-weight: bold;
    width: fit-content;
    width: -moz-fit-content;
    position: relative;
}

.markdown.task::before {
    content: "⬜";
    white-space: pre-wrap;
    color: transparent;
}

.markdown.task>.inner {

    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    width: 100%;
    height: 100%;
}

.markdown.task.checked>.inner::before {
    content: "✓";
}


/* ---------------- CODE BLOCK =>  ```example``` ------------------ */
.markdown.code-block {
    color: #d1d3dc;
    font-family: monospace;
    margin: 20px 0 20px 0;
    border-radius: 7px;
    overflow: hidden;
}

.markdown.code-block .language {
    padding: 7px;

    font-size: 10px;
    background: #343541;
    text-transform: lowercase;
}

.markdown.code-block .code {
    /* white-space: initial!important; */
    width: 100%;
    padding: 7px;
    background-color: #000;
}


/* ---------------- TAB BLOCK =>    example tabbed code ------------------ */
.markdown.tab-block {
    color: #d1d3dc;
    font-family: monospace;
    margin: 20px 0 20px 0;
    border-radius: 7px;
    overflow: auto;
}

.markdown.tab-block .code {
    width: max-content;
    min-width: 97.749996%;
    padding: 7px;
    background-color: #000;
}


/* ---------------- INLINE CODE => `example` ------------------ */
.markdown.inline-code {
    font-weight: bolder;
    color: #fff;
    font-family: monospace;
    overflow-x: auto;
}


/* ---------------- ANCHOR => [text](http://example.com) ------------------ */
.markdown.anchor {
    color: #fff;
    font-weight: bold;
}

.markdown a {
    /* case use direct html code */
    color: #fff;
    font-weight: bold;
}


/* ---------------- INLINE CODE => |example1|example2| ------------------ */
.markdown.table {
    display: flex;
    width: fit-content;
    border-radius: 6px;
    border: white 1px solid;
    overflow: hidden;
    margin-bottom: 20px;
    margin-top: 20px;
}

.markdown.table .cel {
    padding: 5px;
    box-sizing: border-box;
    border-left: white 1px solid;
    border-bottom: white 1px solid;
    width: 100%;
    height: 100%;
    color: #d1d3dc;
}

.markdown.table .cel.header {
    background-color: rgba(236, 236, 241, .2);
    color: white;
    font-weight: bold;
}

.markdown.table .cel.left {
    border-left: none;
    border-bottom: white 1px solid;
}

.markdown.table .cel.bottom {
    border-bottom: none;
}

.markdown.table .cel.right {
    /* unused in this case */
}

.markdown.table .cel.top {
    /* unused in this case */
}


